app = "serenity"
primary_region = "fra"

[build]
dockerfile = "Dockerfile"

[env]
PORT = "8000"
ENVIRONMENT = "production"
DJANGO_SETTINGS_MODULE = "config.settings"
WEB_CONCURRENCY = "1"
WEB_TIMEOUT = "60"


[http_service]
internal_port = 8000
force_https = true
auto_start_machines = true
auto_stop_machines = true
min_machines_running = 1

[deploy]
release_command = "bash -lc 'cd /app/backend && python manage.py migrate --noinput -v 2 && python manage.py collectstatic --noinput -v 2'"
