# fly.toml (root)
app = "serenity"
primary_region = "fra"

[build]
dockerfile = "Dockerfile"

[env]
PORT = "8000"
ENVIRONMENT = "production"
DJANGO_SETTINGS_MODULE = "config.settings"

[http_service]
internal_port = 8000
force_https = true
auto_start_machines = true
auto_stop_machines = true
min_machines_running = 1

[deploy]
# Secrets *are* available here. Make errors loud & clear.
release_command = "python manage.py migrate --noinput --verbosity 2 && python manage.py collectstatic --noinput --verbosity 2"
